@page
@model HealthUP.Pages.doctor.medical_reportModel
@{
    ViewData["Title"] = "login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <form runat="server">
                <span class="login100-form-title">
                    Medical Report
                </span>
                <table>
                    <tr>
                        <td>Namwvwvcvcwcdce<br /></td>
                        </tr>
                    <tr>
                        <td>NRIwevvwcewcwcC<<br /></td>
                        </tr>
                    <tr>
                        <td>Emailvwccwc<br /></td>
                        </tr>
                    <tr>
                        <td>Genderwvwcvww<br /></td>
                        </tr>
                    <tr>
                        <td>Birthdewvecwate<br /></td>
                        </tr>
                    <tr>
                        <td>Addrvwecqwess<br /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Symptoms</label>
                            <input class="input100" type="text" name="symptom" placeholder="Symptoms">
                            <span class="focus-input100"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>Imunities</label>
                            <input class="input100" type="text" name="immunities" placeholder="Immunities">
                            <span class="focus-input100"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>Medicines</label>
                            <input class="input100" type="text" name="medicines" placeholder="Medicines">
                            <span class="focus-input100"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="doctor_validation" name="doctor_validation" value="True" />
                            <p>I,[doctorname] of [specialisation] in [hospital] approve of this medical report</p>
                            <input type="checkbox" id="mail" name="mail" value="mail" />
                            <p>Email this medical report to the patient</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn">
                                    Create
                                </button>
                            </div>
                        </td>

                    </tr>

                </table>

            </form>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>
</html>
